* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color:rgb(25, 44, 87);
    font-family: 'Consolas', 'Courier New', Courier, monospace;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
    background-color: rgba(193, 204, 216, 0.6);
}

.wrapper > div {
    margin: 12px 0;
}

.grid-container {
    min-height: 200px;
    height: 70vh;
    max-height: 800px;
    aspect-ratio: 1 / 1;
}

.grid {
    height: 100%;
    aspect-ratio: 1 / 1;

    display: flex;
    flex-wrap: wrap;
    border: 1px solid grey;
}

.pixel {
    border: 1px solid grey;
    aspect-ratio: 1 / 1;
}

.grid-header, .grid-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

button {
    padding: 12px;
    border: 2px solid rgb(47, 79, 148);
    background-color: rgba(193, 204, 216, 0.7);
    font-size: 24px;
}

button:hover, button.active-btn:hover{
    background-color: rgba(95, 100, 107, 0.9);
}

button.active-btn{
    background-color: rgba(95, 100, 107, 0.7);
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}