* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
    background-color: rgba(193, 204, 216, 0.6);
}

.grid-container {
    min-height: 200px;
    height: 70vh;
    max-height: 800px;
    aspect-ratio: 1 / 1;
}

.grid {
    height: 100%;
    aspect-ratio: 1 / 1;

    display: flex;
    flex-wrap: wrap;
}

.pixel {
    border: 1px solid grey;
    aspect-ratio: 1 / 1;
}